<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/message.css" rel="stylesheet">
    <title>{{title}}</title>  
  </head>
  <header class="top-bar">
  <nav>
    <ul class="nav-links">
      <li class="nav-link"><a href="/">Home</a></li>
      <li class="nav-link"><a href="/providerList">Job Providers</a></li>
      <li class="nav-link"><a href="/seekers">Job Seekers</a></li>
      <li class="nav-link"><a href="/profile">My Profile</a></li>
      <li class="nav-link"><a href="/posts">My Posts</a></li>
      <li class="nav-link"><a href="/messages">Messages</a></li>
      <li class="nav-link"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  </header>
  <body>
    {{{body}}}
    <script src="/public/js/main.js"></script>
    <script src="/public/js/message.js"></script>
  </body>
</html>