<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/public/css/main.css" rel="stylesheet">
    <link href="/public/css/message.css" rel="stylesheet">
    <title>{{title}}</title>  
  </head>
  <header class="top-bar" {{#if isHide}}hidden{{/if}}> 
  <nav>
    <ul class="nav-links">
      <li class="nav-link"><a href="/home">Home</a></li>
      <li class="nav-link"><a href="/home/provideList">Job Providers</a></li>
      <li class="nav-link"><a href="/home/seekers">Job Seekers</a></li> {{!seekersList}}
      <li class="nav-link"><a href="/home/myprofile">My Profile</a></li>
      <li class="nav-link"><a href="/home/posts">My Posts</a></li> {{!removed /home prefix}}
      <li class="nav-link"><a href="/home/messages">Messages</a></li>
      <li class="nav-link"><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  </header>
  
  <body>
    {{{body}}}
    <script src="/public/js/main.js"></script>
    <script src="/public/js/message.js"></script>
    <script src="/public/js/clickPost.js"></script>
  </body>
</html>