<div>
  <h1>Create a POST:</h1>
  {{! title, description, location, categories, budget, images }}
  <div class="profile-img-box">
    <img
      src="/public/images/No_Image_Available.jpg"
      class="img-radius"
      id="myImage"
      alt="User-Profile-Image"
      width="200"
      height="200"
    >
  </div>
  <div class="result">
    <form id="create-post-form" method="POST" action="/post/createPost" enctype="multipart/form-data">
    {{#if Error}} <p class="alert alert-danger">{{Error}}</p>{{/if}}
    {{#if Message}}<p class="alert alert-success" id="success">{{Message}}</p>{{/if}}
    <div id="error" class="alert alert-danger" role="alert" hidden></div>
    <label for="myImageInput">Post Image:</label>
      <input
        type="file"
        id="myImageInput"
        name="image"
        accept=".jpg, .jpeg, .png"
        class="form-control-file border"
      ><span class="required">*</span><br >
      <label for="titleInput">Title<span class="required">*</span>:</label>
      <input type="text" name="titleInput" id="titleInput" placeholder="Give Your Post A Concise Title!">
      <br >
      <label for="descriptionInput">Description<span
          class="required"
        >*</span>:</label>
      <textarea name="descriptionInput" id="descriptionInput" placeholder="Here you can describe the project in detail." maxlength="2500"></textarea>
      <br >
      <label for="budgetInput">Budget<span class="required">*</span>:</label>
      <input type="text" name="budgetInput" id="budgetInput" pattern="\d*" maxlength="10" placeholder="(currency is USD)">

      <br >
      <label for="roleInput">Role<span class="required">*</span>:</label>
      <select name="roleInput" id="roleInput">
        <option value="provider">Service Provider</option>
        <option value="seeker">Service Seeker</option>
      </select>
      <div>
        <label for="categoryInput">Categories<span class="required">*</span>:
          (One or more, up to four)</label>
        <input
          type="text"
          id="categoryInput"
          list="category-options"
          placeholder="Enter a category"
        >
        <div class="category-container">
          {{#if notnull}}
            {{#each objectUser.categories}}
              <div class="category-box">
                <span class="category-name">{{this}}</span>
                <span class="delete-button">x</span>
              </div>
            {{/each}}
          {{/if}}
        </div>
        <div class="input-group"></div>
        <input type="hidden" name="categorydata" id="categorydata" >
        <div class="input-group-append">
          <label for="addCategoryButton" hidden></label>
          <button class="btn btn-sm btn-warning" type="button" id="addCategoryButton">
            <i class="fas fa-plus"></i>
          </button>
          </div>
        </div>
        <label for="zipInput">Location<span class="required">*</span>:</label>
        <label for="cityInput" hidden></label>
        <label for="stateInput" hidden></label>
        <input
          class="addr"
          type="text"
          name="zipInput"
          id="zipInput"
          maxlength="5"
          placeholder="zipcode"
        >
        <input class="addr" type="text" name="cityInput" id="cityInput" placeholder="City">
        <input class="addr" type="text" name="stateInput" id="stateInput" placeholder="State">
        <br >
      

      <br >
      <button type="submit">Create</button>
    </form></div>
  </div>
