<div>
    <p>POST:</p>
    {{!-- title, description, location, categories, budget, images --}}
    <div class="result">
        <form id="create-post-form" method="POST" action="/post/createPost">
        <label for="titleInput">Title<span class="required">*</span>:</label>
        <input type="text" name="titleInput" id="titleInput">
        <br>
        <label for="descriptionInput">Description<span class="required">*</span>:</label>
        <input type="text" name="descriptionInput" id="descriptionInput">
        <br>
        <label for="budgetInput">Budget<span class="required">*</span>:</label>
        <input type="text" name="budgetInput" id="budgetInput">
        {{!-- <label for="locationInput">Location:</label>
        <input type="text" name="locationInput" id="locationInput">
        <br> --}}
        <br>
        <label for="roleInput">Role<span class="required">*</span>:</label>
        <select name="roleInput" id="roleInput">
            <option value="provider">Service Provider</option>
            <option value="seeker">Service Seeker</option>
        </select>
        <div>
            <label for="categoriesInput">Categories (One or more, up to four)<span class="required">*</span>:</label>
            <input type="text" name="categoriesInput[]" id="categoriesInput">
            <input type="text" name="categoriesInput[]" id="categoriesInput">
            <input type="text" name="categoriesInput[]" id="categoriesInput">
            <input type="text" name="categoriesInput[]" id="categoriesInput">
             <br>
                <label for="Address">Location<span class="required">*</span>:</label>
                <input class="addr" type="text" name="zipInput" id="zipInput"  maxlength="5" placeholder="zipcode" >
                <input class="addr" type="text" name="cityInput" id="cityInput" >
                <input class="addr" type="text" name="stateInput" id="stateInput">
            <br>
        </div>
        
        <br>
        <button type="submit">Create</button>



        <script>
            function addCategory() {
                const input = document.createElement('input');
                input.type = 'text';
                input.name = 'items[]';
            }
        </script>
</form>
</div>
</div>