<!DOCTYPE html>
 <html lang="en">
 <head>
   <title>testing</title>
   <link rel="stylesheet" href="../public/css/main-styles.css">
 </head>
 <body>
    <h1>home page</h1>
    <main>
        <p class="about">
        in this website we wil........
        </p>
        <li><a href="/user/login" id="auth">Login</a></li>
    </main>
 </body>
 </html>