<h1>Welcome to Your Home Page!</h1>
<p class="error" id="success">{{#if Message}}{{Message}}{{/if}}</p>
    <p class="about">Check out our latest job posts:</p>
    <a href="/home/provideList" class="see-all">See All Job Providers</a>
    <br>
    <a href="/post/newPost/createPost" class="create-post">Create a job posting!</a>
    <br>
    