<h1>Welcome to Our home Page!</h1>
    <p class="about">Check out our latest job posts:</p>
    <div class="post-list-container">
  <div class="post-list-box" onclick="location.href='post1.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 1 Image"></div>
    <h2>Post 1 Title</h2>
    <p>Post 1 description goes here...</p>
  </div>
  <div class="post-list-box" onclick="location.href='post2.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 2 Image"></div>
    <h2>Post 2 Title</h2>
    <p>Post 2 description goes here...</p>
  </div>
  <div class="post-list-box" onclick="location.href='post3.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 3 Image"></div>
    <h2>Post 3 Title</h2>
    <p>Post 3 description goes here...</p>
  </div>
  <div class="post-list-box" onclick="location.href='post4.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 4 Image"></div>
    <h2>Post 4 Title</h2>
    <p>Post 4 description goes here...</p>
  </div>
  <div class="post-list-box" onclick="location.href='post5.html';">
    <div class="post-list-img-box"><img src="../public/images/No_Image_Available.jpg" alt="Post 5 Image"></div>
    <h2>Post 5 Title</h2>
    <p>Post 5 description goes here...</p>
  </div>
</div>
<br>
<a href="/providers" class="see-all">See All Job Providers</a>
<br>
<a href="user/login" class="see-all">login/sigup</a>