<h1>{{title}}</h1>
    
  {{!-- <div class="projects"> --}}
    <h2>{{description}}</h2>
    <p>{{status}}</p>
    <p><a href="/profile/{{assignedToId}}">View Profile</a></p>
    
    {{!-- Need commenting --}}

