

<h1 class="login">Login Page</h1>
<p class="error">{{#if Error}}{{Error}}{{/if}}</p>
<p class="message" id="success">{{#if Message}}{{Message}}{{/if}}</p>
<div class="result">
<form id="login-form" method="POST" action="/login">
  <label for="emailAddressInput">Email Address:</label>
  <input type="email" name="emailAddressInput" id="emailAddressInput">
  <br>
  <label for="passwordInput">Password:</label>
  <input type="password" name="passwordInput" id="passwordInput">
  <br>
  <button type="submit">Login</button>
</form>
</div>
<div id="error" hidden></div>

<p>New user?
<a href="/signup">Click here to register!</a></p>
