{{#if created}}
<h1>Here, you can view all projects you have been involved in!</h1>
<h1>{{title}}</h1>
    
  <div class="projects">
    <h2>{{description}}</h2>
    <p>{{status}}</p>
    <p><a href="/profile/{{assignedToId}}">View 's Profile</a></p>
  </div>
<li><a href="/" id="auth">Back</a></li>