
<h1>Providers</h1>
    
    {{#each userList}}
        <div class="provider">
            <h2>{{firstName}} {{lastName}}</h2>
            <p>{{location_state}}</p>
            <p><a href="/provider/{{_id}}">View</a></p>
        </div>
    {{/each}}
<li><a href="/" id="auth">Back</a></li>