
<header>
  <h1>Registration Page</h1>
</header>
<p class="error">{{#if Error}}{{Error}}{{/if}}</p>
<div id="error" role="alert" hidden></div>
<div class="result">
<form id="signup-form" method="POST" action="/signup">
  <label for="firstNameInput">First Name<span class="required">*</span>: </label>
  <input type="text" name="firstName" id="firstNameInput">
  <br>
  <label for="lastNameInput">Last Name<span class="required">*</span>:</label>
  <input type="text" name="lastName" id="lastNameInput">
  <br>
  <label for="dob">Date of Birth<span class="required">*</span>:</label>
   <input type="date" id="dob" name="dob" required>
   <br>
  <label for="emailAddressInput">Email Address<span class="required">*</span>:</label>
  <input type="email" name="email" id="emailAddressInput">
  <br>
  <label for="phoneNumberInput">Phone Number<span class="required">*</span>:</label>
  <input type="tel" name="phoneNumber" id="phoneNumberInput">
  <br>
  <label for="passwordInput"> 
  Password<span class="required">*</span>:<span class="info-button" title="Password must be at least 8 characters long and include at least one uppercase letter, one lowercase letter, one special character like (@#$%^&*!/.,;-`~) and one number"></span></label>
  <input type="password" name="password" id="passwordInput">
  <br>
  <label for="confirmPasswordInput">Confirm Password<span class="required">*</span>:</label>
  <input type="password" name="confirmPassword" id="confirmPasswordInput">
  
  <br>
  <label for="roleInput">Role<span class="required">*</span>:</label>
  <select name="role" id="roleInput">
    <option value="provider">Job Provider</option>
    <option value="seeker">Job Seeker</option>
  </select>
   <br>
  <label for="Address">Address<span class="required">*</span>:</label>
  <input class="addr" type="text" name="zip" id="zipInput"  maxlength="5" placeholder="zipcode" >
  <input class="addr" type="text" name="city" id="cityInput" >
  <input class="addr" type="text" name="state" id="stateInput">
  <br>
  <br>
  
  <br>
  <button type="submit" id="registerButton">Register</button>
  <button type="button" id="reset-button">Reset</button>
</form>
</div>
<p><a href="/login">Already have an account? Click here to log-in</a></p>

{{!
example of using type 'date': 
<label for="start">Start date:</label>

<input type="date" id="start" name="trip-start"
       value="2018-07-22"
       min="2018-01-01" max="2018-12-31">}}